h1,
h2 {
	font-family: $fontmain;
	font-size: $textmds;

}

p {
    @include text(1em,1.4em,black);


} 


.ofrecemos__articulo{
   width: 80%;
   height: auto;
   padding-top: 20px;
   padding-right: 40px;
   padding-bottom: 100px;
   padding-left: 20px;
   margin-top: 30px;
   margin-right: 5px;
   margin-bottom: 20px;
   margin-left: 80px;
   overflow-y: auto;       
   color: black;
   @include d-flex(flex-start, column);

   
}




// historia

.empresas__tiulo--xl{
   font-size: $textmd;
   font-family: $fontmain;
    margin: 70px 20px;
    color:black;
   }



.empresas__articulo{
  
     @include flex(space-between, center, row);
               

              

}


.empresas__img{
     margin-right: 20px;
     
}

.empresas__cuerpo{
     background-color: $white;
}

@media (min-width: 280px) and (max-width: 376px){


   .empresas__tiulo--xl{
      font-size: $textsm;
   }  
       
     .empresas__img{
      margin-right: auto;
      width: 100%;
     }       

 }


 // contacto


 .contacto__articulo{
  
    @include d-flex(flex-start, column);
}

.contacto__titulo--xl{
   font-size: $textmd;
   color: black;
   padding: 40px 10px;
   margin: 10px 10px;
   
}


.contacto__titulo--l{
   font-size: $textsm;
   color: $blue;
   margin: 10px 20px;
   font-family: $fontmain;

} 


.contacto__text--md{
   font-size: $textsm;
   display: table;   
   font-family: $fontmain;

}


@media (min-width: 280px) and (max-width: 401px){
       
     .map{
      width: 100%;
     }       
         


}


// sugerencias

.sugerencia__titulo{

   font-family: $fontmain;
   font-size: $textmd; 
   margin: 1px 20px;
}

.bg-blue{
   background-color: $maincolor;
}